<!DOCTYPE html>
<html>
<head>
  <title>Posting</title>
  <% include /partials/header %>
</head>
  <body>
    <% include /partials/navbar %>
    <div class="container">
      <a href="/postinglist" style="color: #00274c;"><h5>< Back</h5></a>
      <hr>
      <div class="row">
        <div class="col-lg-6"><h1><%= post.title %></h1>
          <p class="lead"><%= post.club %></p>
          Date Posted: <span class="badge" style="background-color: #00274c; color:#ffcb05;"><%= post.created %></span><br>
          Expires: <span class="badge" style="background-color: #00274c; color:#ffcb05;"><%= post.expires %></span><br>
          Applicants Received: <span class="badge" style="background-color: #00274c; color:#ffcb05;"><%= post.received %></span><br><br>
          <p><%= post.description %></p>
        </div>
      </div>
      <hr>
      <form class="form-horizontal" name="newapplicant" method="post" action="/newapplicant">
        <fieldset>
          <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-3">
              <input type="text" class="form-control" name="first" placeholder="First">
            </div>
            <div class="col-lg-3">
              <input type="text" class="form-control" name="last" placeholder="Last">
            </div>
          </div>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-2 control-label">Email</label>
              <div class="col-lg-3">
                <div class="input-group">
                  <input type="text" class="form-control" name="email" placeholder="uniquename">
                  <span class="input-group-addon">@umich.edu</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPhone" class="col-lg-2 control-label">Phone</label>
              <div class="col-lg-3">
                <div class="input-group">
                  <span class="input-group-addon">+1</span>
                  <input type="text" class="form-control" name="phone" maxlength="10" placeholder="(XXX) XXX-XXXX">
                </div>
              </div>
            </div>
            <input type="hidden" name="id" value="<%= post._id %>">
            <div class="form-group">
              <label for="select" class="col-lg-2 control-label">Year</label>
                <div class="col-lg-2">
                  <select class="form-control" name="year">
                    <option>Freshman</option>
                    <option>Sophomore</option>
                    <option>Junior</option>
                    <option>Senior</option>
                  </select>
                </div>
            </div>
            <div class="form-group">
              <label for="textArea" class="col-lg-2 control-label">Relevant Experience /<br>Why are you the best candidate?</label>
              <div class="col-lg-8">
                <textarea class="form-control" rows="5" id="textArea"></textarea>
                <span class="help-block">This response will be sent to the contact email of the club posting.</span>
              </div>
            </div>
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button onclick="window.location.href='/postinglist'" class="btn btn-default">Cancel</button>
              <button type="submit" class="btn btn-primary" style="background-color: #00274c; color: #ffcb05;">Submit</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>