<!DOCTYPE html>
<html>
<head>
  <title><%= post.title %></title>
  <% include /partials/header %>
</head>
  <body>
    <% include /partials/navbar %>
    <div class="container form-pg">
      <a href="/postinglist" style="color: #00274c;"><h5>< Browse postings</h5></a>
      <hr>
        <h1><%= post.title %></h1>
          <p class="lead"><%= post.club %></p>
          <p><%= post.description %></p><br>
          Date Posted: <span class="badge" style="background-color: #00274c; color:#ffcb05;"><%= post.created %></span><br>
          Expires: <span class="badge" style="background-color: #00274c; color:#ffcb05;"><%= post.expires %></span><br>
          Applicants Received: <span class="badge" style="background-color: #00274c; color:#ffcb05;"><%= post.received %></span><br>
      <hr>
      <h1>Apply to this position:</h1><br>
      <form class="form-horizontal" name="newapplicant" method="post" action="/newapplicant">
        <fieldset>
          <div class="form-group">
            <label for="inputEmail" class="col-md-2 control-label">Name</label>
            <div class="col-md-3">
              <input type="text" class="form-control" name="first" placeholder="First">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" name="last" placeholder="Last">
            </div>
          </div>
            <div class="form-group">
              <label for="inputEmail" class="col-md-2 control-label">Email</label>
              <div class="col-md-3">
                <div class="input-group">
                  <input type="text" class="form-control" name="email" placeholder="uniqname">
                  <span class="input-group-addon">@umich.edu</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPhone" class="col-md-2 control-label">Phone</label>
              <div class="col-md-3">
                <div class="input-group">
                  <span class="input-group-addon">+1</span>
                  <input type="text" class="form-control" name="phone" maxlength="10" placeholder="(XXX) XXX-XXXX">
                </div>
              </div>
            </div>
            <input type="hidden" name="id" value="<%= post._id %>">
            <div class="form-group">
              <label for="select" class="col-md-2 control-label">Year</label>
                <div class="col-md-2">
                  <select class="form-control" name="year">
                    <option>Freshman</option>
                    <option>Sophomore</option>
                    <option>Junior</option>
                    <option>Senior</option>
                  </select>
                </div>
            </div>
            <div class="form-group">
              <label for="textArea" class="col-md-2 control-label">Relevant Experience /<br>What makes you a good candidate?</label>
              <div class="col-md-8">
                <textarea class="form-control" rows="5" id="textArea"></textarea>
                <span class="help-block">Your response will be sent to the posting organization's email</span>
              </div>
            </div>
          <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
              <button type="submit" id="register" class="btn btn-primary" style="background-color: #00274c; color: #ffcb05;">Submit</button>
              <a href="/postinglist" class="btn btn-default">Cancel</a>
            </div>
          </div>
        </fieldset>
      </form>
      <br><br><br><br><br><br>
    </div>
    <script>
      $( document ).ready(function() {
          var empty = false;
        $('form input').each(function() {
            if ($(this).val() == '') {
                empty = true;
            }
        });

        $('form textarea' ).each(function() {
              if ($(this).val() == '') {
                  empty = true;
              }
          });

          if (empty) {
              $('#register').addClass('disabled');
              $('#register').attr('disabled', 'disabled');
              $('#register').prop('disabled', true);
               // updated according to http://stackoverflow.com/questions/7637790/how-to-remove-disabled-attribute-with-jquery-ie
          }
      });

      $('form input').keyup(function() {

        var empty = false;
        $('form input' ).each(function() {
            if ($(this).val() == '') {
                empty = true;
            }
        });

        $('form textarea' ).each(function() {
            if ($(this).val() == '') {
                empty = true;
            }
        });

        if (empty) {
            $('#register').addClass('disabled');
            $('#register').attr('disabled', 'disabled');
            $('#register').prop('disabled', true); // updated according to http://stackoverflow.com/questions/7637790/how-to-remove-disabled-attribute-with-jquery-ie
        } else {
            $('#register').removeClass('disabled'); 
            $('#register').removeAttr('disabled', 'disabled');
            $('#register').removeProp('disabled', true);
            // updated according to http://stackoverflow.com/questions/7637790/how-to-remove-disabled-attribute-with-jquery-ie
        }
      });

      $('form textarea').keyup(function() {

        var empty = false;
        $('form input' ).each(function() {
            if ($(this).val() == '') {
                empty = true;
            }
        });

        $('form textarea' ).each(function() {
            if ($(this).val() == '') {
                empty = true;
            }
        });

        if (empty) {
            $('#register').addClass('disabled');
            $('#register').attr('disabled', 'disabled');
            $('#register').prop('disabled', true);
             // updated according to http://stackoverflow.com/questions/7637790/how-to-remove-disabled-attribute-with-jquery-ie
        } else {
            $('#register').removeClass('disabled');
            $('#register').removeAttr('disabled', 'disabled');
            $('#register').removeProp('disabled', true);
             // updated according to http://stackoverflow.com/questions/7637790/how-to-remove-disabled-attribute-with-jquery-ie
        }
      });
      $('form input').on('keyup keypress', function(e) {
            var code = e.keyCode || e.which;
            if (code == 13) { 
              e.preventDefault();
              return false;
            }
      });
    </script>
  </body>
</html>