<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<% include /partials/header %>
	<link rel="stylesheet" href="/stylesheets/bootstrap-select.css">
	<script src="/javascripts/bootstrap-select.js"></script>
</head>
	<body>
	<% include /partials/navbar %>
		<div class="container">
		  <div class="form-group row">
		    <label for="select" class="col-xs-1 control-label">Filter:</label>
	      <div class="col-xs-3">
	      	<form id="formFilter" name="filter" method="post" action="/postinglist">
			  		<fieldset>
		        <select class="form-control" title="Involvement Type" name="involvement_type"> 
		          <option>Club Position</option>
		          <option>Freelance Task</option>
		        </select>
		      </div>
		      <div class="col-xs-3">
		        <select multiple title="Position Type" name="position_type">
		          <option>General Membership</option>
		          <option>Coding/Web Design</option>
		          <option>Graphic Design/Art</option>
		          <option>Event Planning</option>
		          <option>Fundraising/Treasury</option>
		          <option>Marketing/Promotion</option>
		          <option>Musical/Performance</option>
		          <option>Manufacturing/Assembly</option>
				        </select>
		        </select>
		      </div>
		      <div class="col-xs-3">
		        <select multiple title="Club Type" class="form-control" name="club_type">
		          <option>Not Applicable</option>
		          <option>Activism</option>
		          <option>Creative Expression</option>
		          <option>Cultural</option>
		          <option>Nature/Sustainability</option>
		          <option>Student Government</option>
		          <option>Health and Wellness</option>
		          <option>Religious/Spiritual</option>
		          <option>Technology/Science</option>
		          <option>Community Engagement</option>
		          <option>Greek</option>
		          <option>Academic</option>
		          <option>Athletics</option>
		          <option>Career Development</option>
		          <option>Social</option>
		        </select>
		      </div>
		      <div class="col-xs-2">
			      <button type="submit" class="btn btn-primary" style="background-color: #00274c; color: #ffcb05;">GO</button>
	      </div>
	    </form>
	    </div>
			<hr>
			<table class="table table-striped table-hover ">
			  <thead>
			    <tr>
			      <th>ID #</th>
			      <th>Position:</th>
			      <th>Date Posted:</th>
			      <th></th>
			    </tr>
			  </thead>
			  <tbody>
			  	<% for(var post=0; post<postinglist.length; post++) { %>
				    <tr>
				      <td>
				      	<h5><%= postinglist[post]._id %></h5>
				      </td>
				      <td>
				      	<h4><a href="/posting/<%= postinglist[post]._id %>" style="color: #00274c; text-decoration: underline;">
					      <%= postinglist[post].title %></a>
					 	  	</h4><%= postinglist[post].club %><br>Applicants Received: <%= postinglist[post].received %>
					 	  </td>
				      <td>
				      	<%= postinglist[post].created %><br>
				      </td>
				      <td>
				      	<button onclick="window.location.href='/posting/<%= postinglist[post]._id %>'" class="btn btn-block btn-primary" style="background-color: #00274c; color: #ffcb05;">Apply</button>
				      </td>
				    </tr>
			    <% } %>
			  </tbody>
			</table>
			<hr>
		  <!-- <div style="text-align: center;">
		      <ul class="pagination">
		        <li class="disabled"><a href="#"><<</a></li>
		        <li class="active"><a href="#">1</a></li>
		        <li><a href="#">2</a></li>
		        <li><a href="#">3</a></li>
		        <li><a href="#">4</a></li>
		        <li><a href="#">5</a></li>
		        <li><a href="#">>></a></li>
		      </ul>
		  </div> -->
		</div>
		<script>
			$('select').selectpicker();
		</script>
	</body>
</html>